[build-system]
requires = [
    "setuptools >= 45",
    "wheel >= 0.30.0",
    "setuptools_scm >= 6.2",
    "numpy >= 1.20.0",
    "Cython"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/qoi/_version.py"
write_to_template = "__version__ = \"{version}\""

[tool.cibuildwheel]
test-requires = "pytest scikit-image"
test-command = "pytest {project}/tests"
build = "cp37-* cp38-* cp39-* cp310-*"
# arm64 is experimental on windows apparently, skip musl, and cp310-win32 fails so ignore for now, and ignore the non-standard linux builds (as they slow it down a lot!)
skip = "*win_arm64* *-musllinux_* *cp310-win32* *s390x* *ppc64le* *aarch64* *i686*"
build-frontend = "build"
environment = "USE_CYTHON=1"
build-verbosity = 3

[tool.cibuildwheel.linux]
# Install stuff for scipy:
before-all = "apt-get -y install gfortran libopenblas-dev liblapack-dev || yum -y install gfortran libopenblas-dev liblapack-dev"